<div id="modals"></div>

<div id="modal--example" class="modal">
  <div class="modal--close"><i class="fa fa-times"></i></div>
  <div class="modal__inner">
    <header class="modal__header">
      <h5>Example Modal</h5>
    </header>
    <div class="modal__content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda nam, animi iure accusamus cumque molestiae beatae fuga ratione modi provident. Molestiae, voluptas dolores quam suscipit eaque impedit voluptatum amet fugit!</p>
    </div>
    <footer class="modal__footer">
      Modal Footer
    </footer>
  </div>
</div>