/**
 * Components 
 *
 * @note - use this rather than components.min.css to maintain relative paths
 */
@import url(../../components/font-awesome/css/font-awesome.min.css);
@import url(../../components/animate/animate.min.css);
/**
 * Functions & Mixins 
 */
/**
 * Clearfix
 */
/**
 * Media
 * 
 * @param  {Integer} $screen 
 */
/**
 * Config 
 */
/**
 * Font Sizes
 */
/**
 * Colors
 */
/**
 * Breakpoints
 */
/**
 * Transitions
 */
/** 
 * Libraries
 */
/**
 * Grid Config
 */
/**
 * Container
 */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1000px;
}

.container--full {
  max-width: 100%;
  width: 100%;
  padding: 0;
}

.container--full-padded {
  max-width: none;
  width: 100%;
}

.container--large {
  max-width: 1200px;
}

.container--med {
  max-width: 890px;
}

.container--small {
  max-width: 680px;
}

@media screen and (max-width: 1200px) and (min-width: 769px) {
  .container--large {
    padding: 0 50px;
  }
}
/**
 * Row
 */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row--gutters {
  margin-left: -15px;
  margin-right: -15px;
}
.row--gutters:after {
  content: "";
  display: table;
  clear: both;
}
.row--gutters *[class^="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}

.row--content {
  margin-bottom: 20px;
}

.row--padded {
  padding: 0 50px;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  float: none !important;
}

/**
 * Columns
 */
.col-1 {
  width: 8.33333%;
  float: left;
}

.col-push-1 {
  position: relative;
  left: 8.33333%;
}

.col-pull-1 {
  position: relative;
  right: 8.33333%;
}

.col-2 {
  width: 16.66667%;
  float: left;
}

.col-push-2 {
  position: relative;
  left: 16.66667%;
}

.col-pull-2 {
  position: relative;
  right: 16.66667%;
}

.col-3 {
  width: 25%;
  float: left;
}

.col-push-3 {
  position: relative;
  left: 25%;
}

.col-pull-3 {
  position: relative;
  right: 25%;
}

.col-4 {
  width: 33.33333%;
  float: left;
}

.col-push-4 {
  position: relative;
  left: 33.33333%;
}

.col-pull-4 {
  position: relative;
  right: 33.33333%;
}

.col-5 {
  width: 41.66667%;
  float: left;
}

.col-push-5 {
  position: relative;
  left: 41.66667%;
}

.col-pull-5 {
  position: relative;
  right: 41.66667%;
}

.col-6 {
  width: 50%;
  float: left;
}

.col-push-6 {
  position: relative;
  left: 50%;
}

.col-pull-6 {
  position: relative;
  right: 50%;
}

.col-7 {
  width: 58.33333%;
  float: left;
}

.col-push-7 {
  position: relative;
  left: 58.33333%;
}

.col-pull-7 {
  position: relative;
  right: 58.33333%;
}

.col-8 {
  width: 66.66667%;
  float: left;
}

.col-push-8 {
  position: relative;
  left: 66.66667%;
}

.col-pull-8 {
  position: relative;
  right: 66.66667%;
}

.col-9 {
  width: 75%;
  float: left;
}

.col-push-9 {
  position: relative;
  left: 75%;
}

.col-pull-9 {
  position: relative;
  right: 75%;
}

.col-10 {
  width: 83.33333%;
  float: left;
}

.col-push-10 {
  position: relative;
  left: 83.33333%;
}

.col-pull-10 {
  position: relative;
  right: 83.33333%;
}

.col-11 {
  width: 91.66667%;
  float: left;
}

.col-push-11 {
  position: relative;
  left: 91.66667%;
}

.col-pull-11 {
  position: relative;
  right: 91.66667%;
}

.col-12 {
  width: 100%;
  float: left;
}

.col-push-12 {
  position: relative;
  left: 100%;
}

.col-pull-12 {
  position: relative;
  right: 100%;
}

.col-1-5 {
  float: left;
  width: 20%;
}

.col--half:first-child {
  padding-right: 40px;
}
.col--half:last-child {
  padding-left: 40px;
}

.col-table {
  display: table !important;
}

/**
 * Media Queries
 */
@media screen and (max-width: 767px) {
  .col-1 {
    width: 100%;
    float: left;
  }

  .col-push-1 {
    left: auto;
  }

  .col-pull-1 {
    right: auto;
  }

  .col-2 {
    width: 100%;
    float: left;
  }

  .col-push-2 {
    left: auto;
  }

  .col-pull-2 {
    right: auto;
  }

  .col-3 {
    width: 100%;
    float: left;
  }

  .col-push-3 {
    left: auto;
  }

  .col-pull-3 {
    right: auto;
  }

  .col-4 {
    width: 100%;
    float: left;
  }

  .col-push-4 {
    left: auto;
  }

  .col-pull-4 {
    right: auto;
  }

  .col-5 {
    width: 100%;
    float: left;
  }

  .col-push-5 {
    left: auto;
  }

  .col-pull-5 {
    right: auto;
  }

  .col-6 {
    width: 100%;
    float: left;
  }

  .col-push-6 {
    left: auto;
  }

  .col-pull-6 {
    right: auto;
  }

  .col-7 {
    width: 100%;
    float: left;
  }

  .col-push-7 {
    left: auto;
  }

  .col-pull-7 {
    right: auto;
  }

  .col-8 {
    width: 100%;
    float: left;
  }

  .col-push-8 {
    left: auto;
  }

  .col-pull-8 {
    right: auto;
  }

  .col-9 {
    width: 100%;
    float: left;
  }

  .col-push-9 {
    left: auto;
  }

  .col-pull-9 {
    right: auto;
  }

  .col-10 {
    width: 100%;
    float: left;
  }

  .col-push-10 {
    left: auto;
  }

  .col-pull-10 {
    right: auto;
  }

  .col-11 {
    width: 100%;
    float: left;
  }

  .col-push-11 {
    left: auto;
  }

  .col-pull-11 {
    right: auto;
  }

  .col-12 {
    width: 100%;
    float: left;
  }

  .col-push-12 {
    left: auto;
  }

  .col-pull-12 {
    right: auto;
  }
}
/**
 * Flexbox
 */
.row--flex {
  display: flex;
  flex-wrap: wrap;
}

/**
 * Modules - Core
 */
/**
 * Colors
 */
.color-primary {
  color: #5db6db;
}

.color-secondary {
  color: #fdb723;
}

.color-tertiary {
  color: #c7d952;
}

.white {
  color: #fff;
}

.white-transparent {
  color: rgba(255, 255, 255, 0.8);
}

.gray {
  color: #9ca6a5;
}

.text-gray {
  color: #9ca6a5;
}

.text-color-default {
  color: #262729;
}

.bg-primary {
  background-color: #5db6db;
}

.bg-secondary {
  background-color: #fdb723;
}

.bg-tertiary {
  background-color: #c7d952;
}

.bg-dark {
  background-color: #000;
  color: #fff;
}

.bg-gray {
  background-color: #cccccc;
}

.bg-white {
  background-color: #fff;
}

/**
 * Borders
 */
.border-primary {
  border-color: #5db6db;
}

.border-secondary {
  border-color: #fdb723;
}

/**
 * Font Extension Classes
 *
 * Weights
 * Styles
 * Families
 * Decoration
 * Sizes
 */
.light-cond {
  font-weight: 200;
}

.light {
  font-weight: 300;
}

.normal {
  font-weight: normal;
}

.semibold {
  font-weight: 600;
}

.medium {
  font-weight: 600;
}

.black {
  font-weight: 800;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.caps {
  text-transform: uppercase;
}

.lowercase {
  text-transform: none;
}

.underline {
  text-decoration: underline;
}

/**
 * TypeKit Font Flash Fix
 */
/**
 * Chrome v33 "invisible text" fix
 */
body {
  -webkit-animation-duration: 0.1s;
  -webkit-animation-name: fontfix;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0.1s;
}

@-webkit-keyframes fontfix {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
/**
 * Modules - Components
 */
html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  font-family: "OpenSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #000;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/**
 * Anchor
 */
a {
  text-decoration: none;
  color: inherit;
  /* Transition */
  -webkit-transition: color 0.25s, background 0.25s;
  -moz-transition: color 0.25s, background 0.25s;
  -o-transition: color 0.25s, background 0.25s;
  transition: color 0.25s, background 0.25s;
}

/**
 * Headers
 */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
  margin: 1rem 0;
}

/**
 * Misc Typography
 */
cite {
  font-size: 13px;
  font-weight: medium;
  font-family: "Courier New", "Georgia", Georgia, serif;
  font-style: italic;
}

small {
  font-size: 13px;
  text-transform: uppercase;
  color: #2d353b;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul li {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0;
  display: block;
}

/**
 * Tables
 */
table td, table th {
  border: none;
  padding: 10px;
}

/**
 * Section(s)
 */
.section--xsmall {
  margin: 25px 0;
}

.section--small {
  margin: 40px 0;
}

.section {
  margin: 70px 0;
}

.section--large {
  margin: 90px 0;
}

.section--xlarge {
  margin: 100px 0;
}

.section--xxlarge {
  margin: 120px 0;
}

.section-padded--xsmall {
  padding-top: 25px;
  padding-bottom: 25px;
}

.section-padded--small {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-padded {
  padding-top: 70px;
  padding-bottom: 70px;
}

.section-padded--large {
  padding-top: 90px;
  padding-bottom: 90px;
}

.section-padded--xlarge {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-padded--xxlarge {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section--float-left {
  width: 100%;
  float: left;
}

.section-divider {
  width: 100%;
  border: 1px solid #f5f5f2;
}

.section__header {
  margin-bottom: 60px;
  text-align: center;
}
.section__header.section__header--small {
  margin-bottom: 35px;
}

.section__footer {
  margin-top: 60px;
  text-align: enter;
}
.section__footer.section__footer--small {
  margin-top: 40px;
}

/**
 * Articles
 */
/**
 * Iframe container
 */
.iframe-container {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
}
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/**
 * Reponsive container
 */
.responsive-container {
  position: relative;
  width: 100%;
}

.responsive-container img,
.responsive-img {
  width: 100%;
  height: auto;
}

/**
 * Modules - App Specific
 */
/**
 * Media Queries
 */
